/Libs/glib/glib-2.20.1/build/vs8/.vs/glib_2015/v14/*.suo
/Libs/glib/glib-2.20.1/obj
/Libs/libffi/libffi-msvc/libffi/Release
/Libs/libffi/libffi-msvc/libffi/Win32
/Libs/libffi/libffi-msvc/libffi-msvc.suo
/Libs/libffi/libffi-msvc/libffi/*.user
